<img src=<%= movieDetails.image %> />
<p class="Title"><%= movieDetails.title %> </p>
<p class ="director"><%= movieDetails.director %> </p>
<ul>
    <li><%= movieDetails.stars[0]%> </li>


    <li><%= movieDetails.stars[1] %> </li>


    <li><%= movieDetails.stars[2] %></li>
</ul>
<p class="details"><%= movieDetails.details %> </p>
<p class="timetable"><%= movieDetails.showtimes %></p>
<a href="/movies"></a>